.error {
  border: 2px solid red;
}

li span {
  flex-grow: 1;
  margin-left: 10px;
}

li.editing input,
li.editing select {
  margin-right: 5px;
}

button {
  cursor: pointer;
  padding: 5px 10px;
}
