.code-container {
  position: relative;
}

.copy-button {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 5px 10px;
  background: #007acc;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  z-index: 10;
}

.copy-button:hover {
  background: #005f9e;
}

.copy-toast {
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #007acc;
  color: white;
  padding: 10px 20px;
  border-radius: 4px;
  opacity: 0;
  animation: fadeToast 2s ease-in-out;
  z-index: 1000;
}

@keyframes fadeToast {

  /* Startposition unsichtbar */
  0% {
    opacity: 0;
    bottom: -20px;
  }

  /* Sichtbar in Endposition */
  20% {
    opacity: 1;
    bottom: 20px;
  }

  /* Bleibt sichtbar */
  80% {
    opacity: 1;
    bottom: 20px;
  }

  /* Verschwindet nach unten */
  100% {
    opacity: 0;
    bottom: -20px;
  }
}
