nav ul {
  list-style: none;
  display: flex;
  padding: 0;
  margin: 0;
}

nav ul li {
  margin-right: 1rem;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
}

nav ul li a:hover {
  text-decoration: underline;
}

@media (max-width: 768px) {
  nav ul {
    /* Links untereinander */
    flex-direction: column;
    gap: 0.5rem;
    padding: 1rem 0;
  }

  nav ul li {
    margin-right: 0;
  }
}
